<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >

  <table id="table">
    <tr><h1>Student Registration Form</h1></tr>
    <tr><td>Name</td>
      <td><input type="text" formControlName="Name" required/></td>
      <div *ngIf="registrationForm.controls['Name'].invalid && (registrationForm.controls['Name'].dirty || registrationForm.controls['Name'].touched)" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['Name'].errors.required">Name is required.
        </div>
      </div>
    </tr>
    <tr><td>Father Name</td>
      <td><input type="text" formControlName="FatherName" required></td>
      <div *ngIf="registrationForm.controls['FatherName'].invalid && (registrationForm.controls['FatherName'].dirty || registrationForm.controls['FatherName'].touched)" class="alert alert-danger">
     <div *ngIf="registrationForm.controls['FatherName'].errors.required">FatherName is required. </div> </div>
        </tr>
    <tr><td>Postal Address</td>
      <td><input type="text" formControlName="PostalAddress" required></td>
      <div *ngIf="registrationForm.controls['PostalAddress'].invalid && (registrationForm.controls['PostalAddress'].dirty || registrationForm.controls['PostalAddress'].touched)" class="alert alert-danger">
      <div *ngIf="registrationForm.controls['PostalAddress'].errors.required">PostalAddress is required. </div> </div>
      </tr>
    <tr><td>Personal Address</td>
      <td><input type="text" formControlName="PersonalAddress" required></td>
      <div *ngIf="registrationForm.controls['PersonalAddress'].invalid && (registrationForm.controls['PersonalAddress'].dirty || registrationForm.controls['PersonalAddress'].touched)" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['PersonalAddress'].errors.required">PersonalAddress is required. </div> </div>
     </tr>
    <tr>
      <td>Sex</td>
      <td><input type="radio" value="male" formControlName="gender">male
        <input type="radio" value="Female" formControlName="gender">Female
      </td>
    </tr>
     <tr>
      <td>City:</td>
      <td><select formControlName="city" required>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select></td>
    </tr>
    <tr>
      <td>Course:</td>
      <td><select formControlName="course" required>
        <option *ngFor="let course of courses" [value]="course">{{course}}</option>
      </select></td>
    </tr>
    <tr>
      <td>District:</td>
      <td><select formControlName="district" required>
        <option *ngFor="let district of districts" [value]="district">{{district}}</option>
      </select></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><select formControlName="state" required>
        <option *ngFor="let state of states" [value]="state">{{state}}</option>
      </select></td>
    </tr>

    <tr><td>Pincode</td>
      <td><input type="number" formControlName="pincode" required/></td>
      <div *ngIf="registrationForm.controls['pincode'].invalid && (registrationForm.controls['pincode'].dirty || registrationForm.controls['pincode'].touched)" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['pincode'].errors.required">Pincode is required.
        </div>
      </div>
    </tr>
    <tr><td>EmailId</td>
      <td><input type="text" formControlName="email" required></td>
      <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['email'].errors.required">EmailId is required. </div> </div>
    </tr>
    <tr><td>Date Of Birth </td>
      <td><input type="date" formControlName="DOB" required></td>
      <div *ngIf="registrationForm.controls['DOB'].invalid && (registrationForm.controls['DOB'].dirty || registrationForm.controls['DOB'].touched)" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['DOB'].errors.required">Date Of Birth  is required. </div> </div>
    </tr>
    <tr><td>PhoneNo</td>
      <td><input type="number" formControlName="phoneNo"  required></td>
      <div *ngIf="registrationForm.controls['phoneNo'].invalid && (registrationForm.controls['phoneNo'].dirty || registrationForm.controls['phoneNo'].touched)" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['phoneNo'].errors.required">PhoneNo is required. </div> </div>
    </tr>


    <tr><td><button type="reset">Reset</button></td>
      <td><button type="submit" [disabled]="!registrationForm.valid">Submit Form</button></td></tr>
  </table>

</form>

